.list {
  display: flex;
  flex-direction: column;
  gap: $gap-list;
  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    border-radius: $list-radius;
    box-shadow: $list-item-shadow;
    overflow: hidden;
    cursor: pointer;

    @extend .fade-in-top;
    @for $i from 1 through 50 {
      &:nth-of-type(#{$i}) {
        animation-delay: 300ms * $i;
      }
    }

    &__body {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      padding: 15px 24px 15px 10px;

      width: 100%;
      h3 {
        margin: 0 0 10px 0;
        text-overflow: ellipsis;
      }
      p {
        margin: 0;
        text-overflow: ellipsis;
      }
      .list-item__price {
        font-weight: 700;
      }
    }

    &__check {
      background-color: $brand-tertiary;
      color: $white;
      width: 40px;
      transform: translateX(40px);
      transition: transform 500ms ease-out;

      text-align: center;
      i {
        font-size: 20px;
        top: calc(50% - 10px);
        left: 25%;
        position: absolute;
      }
    }

    &:hover,
    &:active {
      & .list-item__check {
        transform: translateX(0px);
        i {
          @extend .roll-right;
        }
      }
    }
  }

  /** Responsive **/
  @include desktop {
    flex-direction: row;
    .list-item {
      flex: 1 0 auto;
    }
  }
}
