.list {
  --check-width: 60px;
  display: flex;
  flex-direction: column;
  gap: $gap-list;

  .list-item {
    @extend .fade-in-top;
    @for $i from 1 through 50 {
      &:nth-of-type(#{$i}) {
        animation-delay: 300ms * $i;
      }
    }

    label {
      position: relative;
      background-color: $white;
      border-radius: $list-radius;
      box-shadow: $list-item-shadow;
      overflow: hidden;
      cursor: pointer;
      display: block;
    }
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    &__body {
      width: 100%;
      padding: 15px 24px 15px 10px;
      width: 100%;
      transition: width 500ms ease-out;
      display: block;

      .list-item__content {
        display: inline-block;
        width: calc(100% - 40px);

        * {
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          line-height: 1;
        }
        &__title {
          @extend h3;
          margin: 0 0 5px 0;
          font-size: 16px;
        }
        &__ingredients {
          margin: 0;
          font-size: 14px;
          display: inline-block;
          vertical-align: bottom;
        }
      }
      .list-item__price {
        font-size: 16px;
        font-weight: 700;
        text-align: right;
        display: inline-block;
        width: 35px;
        vertical-align: bottom;
      }
    }

    .list-item__check {
      display: block;
      height: 101%;
      right: 0;
      position: absolute;
      top: 0;
      background-color: $brand-tertiary;
      color: $white;
      width: var(--check-width);
      transform: translateX(var(--check-width));
      transition: all 500ms ease-out;
      text-align: center;
      i {
        font-size: 24px;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        position: absolute;
      }
    }

    input[type="checkbox"]:checked {
      ~ .list-item__body {
        width: calc(100% - var(--check-width));
      }
      ~ .list-item__check {
        transform: none;
        i {
          @extend .roll-right;
        }
      }
    }
  }

  /** Responsive **/
  @include desktop {
    flex-direction: row;
    .list-item {
      flex: 1 0 auto;
    }
  }
}
