/* Home specific style */

body.home {
  position: relative;
  /* Screen Loader */
  /*.screen-loader {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $brand-primary;
    color: $white;
    @extend .fade-out;
    &__icon {
      font-size: 50px;
      position: absolute;
      top: calc(50vh - 25px);
      left: calc(50vw - 25px);
      @extend .roll-left--infinite;
    }
  }*/

  /* restaurants section */
  .restaurants__section {
    background-color: $very-light-grey;
    padding: 60px $gutter 65px $gutter;

    &__title {
      @extend .container;
    }
    &__container {
      display: flex;
      flex-direction: column;
      gap: $gap-card;
      @extend .container;

      /** Responsive **/
      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        gap: $gap-card * 1.5;
      }
      @include desktop {
        gap: $gap-card * 2;
      }
    }
  }
}
